<!DOCTYPE html>
<html>
<head>
  <title>PatrolPortal</title>

 <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application','bootstrap.min','jquery-1.11.3.min','jquery.touchSwipe.min', 'data-turbolinks-track' => true %>
  
<%= favicon_link_tag asset_path('policeman.png') %>
  
  <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<%=stylesheet_link_tag "bootstrap.min", "templatemo-style"%>
  <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css">
  <meta name="viewport" content="initial-scale=7.0, width=device-width">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <script src="https://js.pusher.com/4.1/pusher.min.js"></script> 
        

  <%= csrf_meta_tags %>


  
</head>
<body> 
  

<%= yield %>

</body>
</html>
